<section class="content-header no-margin">
    <h1>
        <%=@current_user.name%>
        <small><%=t(:user_profile)%></small>
    </h1>
    <ol class="breadcrumb">
    	<li><%=@current_user.name%></li>
        <li class="active"><%=t(:user_profile)%></li>
    </ol>
</section>

<section class="content">
</section>