body {
	padding-top: 2em;
}

section.main-content{
  min-height: 580px;
}

footer {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #000000;	
	bottom: 0px;
}

footer p {
	color: #ffffff;
}

.panel .panel-heading .panel-title{
  display: inline-block;
  padding: 6px 6px 6px 6px;
  font-size: 14px;
  font-weight: 400;
  float: left;
}

.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file > input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}